.header{
    position: absolute;
    top: 0;
    left: 0;
    height: 44px;
    width: 100%;
    background: purple;
    background-image: linear-gradient(90deg,#4b166c, #b61588);
    color: white;
    text-align: center;
    line-height: 44px;
}