.myJoinedTravels{
    .scrollBox{
        box-sizing: border-box;
        // padding: 1px 0;
        position: absolute;
        top:44px;
        left: 0;
        width: 100%;
        bottom: 0;
    }
}